node_modules
.pytest_cache
.terraform
.terraform.tfstate.lock.info
*.tfstate.backup
credentials
.pytest_cache
# Terraform state
setup/terraform/terraform.tfstate
setup/terraform/terraform.tfstate.backup
setup/terraform/.terraform.tfstate.lock.info
